.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}

.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 100%;
    padding: 0 2em 0 2em;
   
}

.container{
    display: flex;
    align-items: center;
}

.container-imagem{
    padding: 1em;
}
.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    background-color: var(--branco);
    color: var(--azul-degrade);
    padding: 1em;
    width: 60vw;
    top: 100%;
   
}
.container__botao{
    display: none;
}
.container__botao:checked ~ .lista-menu {
    display: block;
  }
  
.lista-menu__titulo{
    color: var(--laranja);
    
    text-decoration: none; 
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 700;
    padding: 1em;
}


.menu__lista-link{
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     background-clip: text;
}

.lista-menu__titulo, .lista-menu__item{
    padding: 1em;
}
.container__titulo{
    display: none;
}
.container__texto{
    display: none;
}


.opcoes{
    display: none;
}




@media screen and (min-width: 1024px){
    .container_titulo,
    .container_titulo-negrito {
        font-family: var(--fonte-secundario);
        font-size: 30px;
    }
    .container_titulo {
        font-weight: 400;
    }
    .container_titulo--negrito {
        font-weight: 700;
    }

    .container__titulo{
        font-weight: 400;
        display: block;
        font-size: 30px;
        padding: 0 0.5em 0 0.5em;
    }
    .container__titulo--negrito{
        font-weight: 700;
        font-size: 30px;
    }
    
    .cabecalho__menu-hamburguer{
        display: none;
    }

    .opcoes{
        display: flex;
        align-items: center;
        text-transform: uppercase;
        background-image: url("../img/Menu\ Aberto.svg");
    }
    .opcoes-item{
    padding: 0 3em 0 3em;
    display: block;
    }
    .opcoes__link{
        text-decoration: none;
        color: var(--preto);
    }
    .container-imagem-coracao{
        display: none;}
        .opcoes__botao:checked~ .lista-menu {
            display: block;
            width: auto;
          }
          .opcoes__botao{
            display: none;
        }
        
       
        .container__link{
            display: block;
        }
        .container__texto{
            display: none

        }
        .opcoes-item:hover{
            background-color: var(--azul-degrade);
        }
        
.opcoes-item:hover{
    background-color: var(--azul-degrade);
}
@media screen and (min-width:1366px) {
    .container__link{
        display: flex;
        align-items:  center;
        text-decoration: none;
        color: var(--preto);
    }
    .cabecalho{
        padding: 0 2em;
    }
    .opcoes{
        margin-right: auto;
    }
    .secao-paragrafo{
        padding: 0.5em 0;
    }
    .container__texto{
        display: block;
    }
}}